body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b8b8b8;
}

header {
    width: 100%;
    height:20%;
    background: white;
    overflow: hidden; 
}

#logo {
    float: left;
    width: 35%;
    padding-left: 30px;
}

header nav {
    float: right;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-right: 110px;
    padding-top: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #0088cc;
    font-weight: bold;
}

#main{
    position: relative;
    width: 100%;
    height: 80%;
    background-color: #7a7878;
}

#contenedorImagen {
    float: left;
    width: 60%;
 /* Asegura que no haya bordes */
}

#trabajadores {
    width: 100%;
    height: auto;
    padding: 7% 0px 50px 80px;

}

.imagen-boton {
    display: block; /* Hace que las imágenes se comporten como bloques */
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    margin-bottom: 10px; /* Espacio entre las imágenes y el párrafo */
    cursor: pointer;
}

#parrafo {
    background: #00baab; /* Color de fondo */
    color: rgb(255, 255, 255); /* Color del texto */
    font-size: 19px; /* Tamaño del texto */
    font-weight: bold;
    padding: 35px; /* Espaciado interno */
    margin: 0; /* Elimina el margen predeterminado */
    line-height: 1.5; /* Espaciado entre líneas */
    font-family: Arial, sans-serif; /* Fuente del texto */
    text-align: left; /* Alineación del texto */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding en el ancho */
    border: 3px solid #fefefe; /* Borde resaltado */
}

#lateralDerecho {
    float: right;
    width: 20%; /* Ajusta este valor según sea necesario */
    margin-right: 230px; /* Sin margen derecho */
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box; /* Incluye el padding en el ancho */
    padding-top: 65px;
}

footer  {
    background: rgb(0, 0, 0);
    color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; 
    display: inline-block;
}

.contact-info {
    display: flex;
    gap: 40px;
}

.footer-note {
    text-align: right;
    font-size: 12px;
}


footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    padding-right: 10px;
    padding-top: 5px;
}

.imagen-footer{
    width: 50px;
}

.texto-footer{
    padding-right: 150px;
}